div.footer
  div.footer-content
    div.footer-categories
      div.footer-category
        h1.footer-category-title
          a(href='/research')
            | Publications
        ul.footer-category-list
          li.footer-category-item
            a(href='/blog') Blog
          li.footer-category-item
            a(href='/research/articles') Articles
          li.footer-category-item
            a(href='/research/papers') Papers
          li.footer-category-item
            a(href='/research/studies') Studies
          li.footer-category-item
            a(href='/research/software') Software
      div.footer-category
        h1.footer-category-title
          a(href='/docs') Docs
        ul.footer-category-list
          li.footer-category-item
            a(href='/docs/api') Api
          li.footer-category-item
            a(href='/status') Status
          li.footer-category-item
            a(href='/docs/security') Security
      div.footer-category
        h1.footer-category-title
          a(href="/about").hidden-link About
        ul.footer-category-list
          li.footer-category-item
            a(href='/about/contact') Contact
          li.footer-category-item
            a(href='/about/privacy-policy') Privacy Policy
          li.footer-category-item
            a(href='/about/terms-of-service') Terms of Service
          li.footer-category-item
            a(href='/about/help') Help
  div.improve-on-github
    span.improve-on-github-text
      | Help to improve this website on 
    a.improve-on-github-link(href='https://github.com/science-research/science-research-website')
      | GitHub
  div.copyright
    p.copyright-text
      | Copyright &copy; 2022 Science Research & 
      a(href="https://lucalewin.dev").hidden-link Luca Lewin
    p.all-rights-reserved-text All rights reserved