div.navbar
  div.nav-brand
    h2.nav-brand-title
      a(href='/').nav-brand-title-text
        | Science Research
  div.nav-links
    ul.nav-tabs.left
      li.nav-tab
        a(href='/research/articles') Articles
      li.nav-tab
        a(href='/research/papers') Papers
      li.nav-tab
        a(href='/citation') Citation
  div.nav-links
    ul.nav-tabs.right
      li.nav-tab
        a(href='/login') Login
      li.nav-tab
        a(href='/signup') Signup