extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente impedit explicabo eum commodi natus beatae, aut corrupti deserunt voluptatum? Dicta, neque. Quasi, autem. Voluptatem dicta saepe consequuntur dolore, suscipit sunt!
    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel laboriosam sed magni quod porro ad ab ipsam, aspernatur soluta sit ratione debitis nobis veritatis ea vero eaque rerum possimus aliquid!
    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda quia nam, quos cum dignissimos id natus ut animi aspernatur recusandae, temporibus perspiciatis similique eaque doloremque tempora quaerat dolores expedita libero?
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum. Incidunt, qui odio, consequuntur, delectus reiciendis amet at nobis officiis iste autem cum optio illum. Iste laborum neque odit corporis.

    