div.container
    ul.col-md-12.row
        a(href="#")
            li.col-md-3.col-md-offset-1 Register
        a(href="#")
            li.col-md-3 Login
        a(href="#")
            li.col-md-3 About Chatbox