extends ../layout

block content
  div.description
    h1.description-title
      | Science Research
    p.description-text
      | Science Research is a research platform for the scientific community.
    p.description-text
      | We provide a platform for researchers to share their research and
    p.description-text
      | get feedback from other researchers.