extends ../layout

block content
	h1= title
	div.container
		input(type='text', placeholder='Authors')
		input(type='text', placeholder='Title')
		input(type='text', placeholder='Journal')
		input(type='text', placeholder='Volume')
		input(type='text', placeholder='Issue')
		input(type='text', placeholder='Pages')
		input(type='text', placeholder='Year')
		input(type='text', placeholder='Publisher')
		input(type='text', placeholder='ISSN')
		input(type='text', placeholder='DOI')
		input(type='text', placeholder='URL')
		input(type='text', placeholder='PMID')
		input(type='text', placeholder='PMCID')
	
		spinner(type='text', placeholder='Format')

		button(type='submit') Submit